<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAllowsLocalNetworking</key>
	<string>NSAllowsLocalNetworking</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_nearby-devices._upd</string>
		<string>_nearby-devices._tcp</string>
		<string>_helper-test._tcp</string>
		<string>_helper-test._udp</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>IntentIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
